soccerdata
--extra-index-url https://download.pytorch.org/whl/cpu
torch
flask
flask-cors
sqlalchemy
psycopg2-binary
pandas==2.1.4
numpy==1.26.4
joblib
deep-translator
thefuzz
python-dotenv
requests
beautifulsoup4
scikit-learn